<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491532526871-ceupvp1hempma5q272jjpuooh6d99ckn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491532526871-ceupvp1hempma5q272jjpuooh6d99ckn</string>
	<key>API_KEY</key>
	<string>AIzaSyBSKRY0PBctwiDr4MvhFnttAus3XbvJNzA</string>
	<key>GCM_SENDER_ID</key>
	<string>491532526871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.web3games.wallet.dev</string>
	<key>PROJECT_ID</key>
	<string>w3-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>w3-wallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491532526871:ios:1b1c0b30df178534624352</string>
</dict>
</plist>